@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.About{
  margin:  50px;
  padding: 10px 20px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(107, 137, 225);
  padding: 0 10px; 
  
  font-weight: 600;

}
.nav img{
  width: 5%;
}
.nav ul{
  display: flex;
  gap: 60px;
  list-style: none;
  align-items: center;
}
.navi li{
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 30px;
  cursor: pointer;
}
.navi li::before{
  content: '';
  position: absolute;
  left: 0;
  top:100%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: .3s;
  
}
.nav li:hover::before{
  width: 100%;
}
.mini-body{
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins"sans-serif;
  min-height: 100vh;
  background: url(c:\Users\DELL\Downloads\2693171.jpg) no-repeat;
  background-size: cover;
  background-position: center;  
}
.login{
  font-size: 36px;
  width:420px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  border:2px solid rgba(255, 255, 255, .2);
  padding: 30px 40px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  
 
}
.login h1{
  font-size:36px;
  text-align: center;
}
.login .input-box{
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px  0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: white;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.login .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15 0 15px;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.login .btn{
 width: 100%;
 height: 45px;
 background: #fff;
 border: none;
 outline: none;
 border-radius: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 cursor: pointer;
 font-size: 16px;
 color: #333;
 font-weight: 600;
}
.login .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;

}


.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.776);
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffcccc, #ff99cc, #ff66cc;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.box{
  width: 50%;
  height: 400px;
  
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  font-family: "Lexend Deca", "Montserrat", Tahoma;
  font-weight: 400;
  font-size:small;
  display: flex;
  flex-direction: column;
  gap: 20px ;
  
}
.add_box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  
} 
.list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
  
}

.contact{
  align-items: center;
  text-align: center;
}
.images{
  cursor: pointer; 
   
  
}
.contact img{
  width: 4%;
  border-radius: 45%;
  
}
.card img{
  border-radius: 10%;
}
.types{
  text-align: center;
  display: flex;
  align-items: center;
}
.types ul{
  list-style: none;
  display: flex;
  font-size: large;
  font-weight: 500;
  gap: 50px;
  
}
.about{
  text-align: center;
}
body{
  min-height: 100vh;
  background: url("") no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lexend Deca", "Montserrat", Tahoma;;

  
}
.logo_section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.logo{
  width: 25%;
}
.pp{
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 30px;
}
.pp::before{
  content: '';
  position: absolute;
  left: 0;
  top:100%;
  width: 0;
  height: 2px;
  background-color: #190202;
  transition: .3s;
  
}
.pp:hover::before{
  width: 100%;
}
.x {
  width: 10%;
  height: 50px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  color: black;
  border: black solid;
  padding: 5px 10px;
  border-radius: 5px;
   font-size: 25px;
  background-color: transparent;
}
.x:hover{
  background: rgb(250, 33, 33);
}
.add{
  width: 30%;
  
  
  padding: 20px;
  font-size: medium;
  font-weight: 600;
}
.add:hover{
  background: rgb(188, 242, 188);
}
.types{
 background-color: rgb(107, 137, 225);
}
.list img {
  transition: transform 0.3s ease-in-out;
  border: #190202 solid;
  cursor: pointer;
}

.list img:hover {
  transform: scale(1.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.poster_size{
  background: transparent;
  width: 25%;
            color: black;
            border: black solid;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
}
.poster_size:hover{
  background: rgb(168, 168, 244);
}
.x2{
  margin: 7px;
  display: flex;
  cursor: pointer;
  color: black;
  border: black solid;
  padding: 10px 20px;
  border-radius: 5px;
   font-size: 25px;
  background-color: transparent;
  
}
.x2:hover{
  background: rgb(250, 33, 33);
}
.add_box input{
  text-align: center;
  font-weight: 500;
  font-size: large;
  font-family:"Montserrat", sans-serif;
}
.contact a{
  color: black;
}
.contact a:hover{
  color: blue;
}